/****************************************************************************************
MIND LOUNGE 1/6/15 Steven 3/20/15
*****************************************************************************************
												Global Crud
**/
html { 
	background: url('../images/Bground1.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

body{ 
    left:0;
	top: 0;
	margin:0 auto;
    padding:0;
	overflow-x: hidden;
	font-family: 'Cherry Cream Soda', cursive;
}
#PageWrap{
	min-height:100%;
	width:100%;
	
}
::-moz-selection {
	background-color:#000066;
	color:#F06210;
}
::selection {
	background-color:#000066;
	color:#F06210;
}
input[type="submit"],
input[type="reset"],
input[type="reset"],
button#image{
	padding: 6px 15px;
	background-color:#F06210;
	font-size:115%;
	font-weight:700;
	cursor:pointer;
	color: #000;
	box-shadow: 1px 1px 5px #000; 
	border:none;
	outline:none;
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
	font-family: 'Cherry Cream Soda', cursive;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
button#image:hover{
	background-color:#000;
	color: #F06210;
	box-shadow: 1px 1px 1px #000; 	
}
input[type="password"], input[type="text"]{
	padding: 6px 15px;
	font-size:125%;
	font-family: 'Cherry Cream Soda', cursive;
	color: #444;
}
a{
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
	color:#fff;
	text-decoration: none;
}
a:hover{
	text-decoration:none;
	color:#F06210;
	text-shadow: 1.75px 1.75px .5px #000; 	
}
 table{
	background-color:rgba(255, 255, 255, .0);
	width:500px;
	margin:auto;
	padding: 10px;
}
td .formTitle{
	font-size:175%;
	font-weight:900;
}
td{
	text-align:center;
	
 
}
#wrapper{
	width:1140px;
	margin:auto;	
}
table #signuptable{
	margin-bottom:150px
}
/*******image input************/
#Pick-a-Pic{
	background-color:#000;
	color: #F06210;
	background-color: rgba(255, 255, 255, .7);
	width:382px;
	margin:auto;
	padding: 15px 15px 0;

}
label#fileLabel{
	width:100%;
	margin:auto;
	color:#000;
	font-size:18px;
	display:block;
	padding-bottom:8px;

}

img#target{
	width:135px;
	padding:12px;
}
input#profilePic{
	position:absolute;
	top:-100px;
}
button#image{
	font-size:14px;
	background-color:rgba(255, 255, 255, .3);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 2px solid black
}

.bar {
    height: 18px;
    background: green;
}
input[type=file]{
    width:90px;
    color:transparent;
}


/****************************************************************************************
											Forms
****************************************************************************************/
#logOn , #signUp{
	background-color:rgba(255, 255, 255, .0);
	margin: 50px auto 0 auto;
	width:500px;	
}
 #signUp{
	
	margin: 10px auto 0 auto;
	
}

a #or{
	margin: 10px auto 10px ;
	font-size:26px;
	color: #F06210 ;
	text-shadow:1px 1px 3px #000,
		-1px 1px 3px #000,
		1px -1px 3px #000,
		-1px -1px 3px #000;
	width:50%;
	text-align:center;
	cursor:pointer;
	text-decoration:underline;
	-webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
#or:hover{
	color: #000 ;
	text-shadow: -1.25px -1.25px 2px #F06210,
		1.25px 1.25px 2px #F06210; 
}
.Alt{
	

}
/****************************************************************************************
											Side Bar
****************************************************************************************/
#holder{
	top:0;
	position:absolute;
	float:left;
	width: 255px;
	height:400px;
	background: rgba(50, 50, 50,.55); 
	
	-webkit-border-bottom-right-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	-moz-border-radius-bottomright: 25px;
	-moz-border-radius-bottomleft: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#about{
	margin: 0px 0 0 0;
	padding:220px 12px;
	text-align:justify;
	margin: auto;
	color:#aaa;
	 -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}
#holder:hover {
	background: rgba(69, 92, 124,.85); 
}
#holder:hover > #about{
	color:#000;
}
#holder:hover > a{
	color:#000;
}
/****************************************************************************************
											Title
****************************************************************************************/
#title{
	background:url('../images/title.png')no-repeat;
	margin: 0 auto ;
	width:583px;
	height: 200px;
	background-position: -0px -00px;
	-webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;	
}

/****************************************************************************************
											Form Validation
****************************************************************************************/
#form1 input.error ,#form2 input.error{
	color: red;
	background-color: #fff;
	outline: 3px solid red;
}
#form1 input.valid, #form2 input.valid{
	color: #000;
	background-color: #fff;
	
}
#form1 .input, #form2 .input{
	background-color: rgba(255, 255, 255, .7);
	border:none;
	
}
#form1 .input:focus, #form2 .input:focus{
	background-color: #ddd;
	color:#333;
	border:none;
	outline:none;
}
label.error{
	 text-align:left;
	 color:red;
	 font-size: 14px;
}
#confirm{
	margin: 10% auto;
	width:50%;
}

/***************************************************************************************************
														FOOTER
****************************************************************************************************/

footer{
	width:100%;
	height:75px;
	background: rgba(50, 50, 50,.55); 
	overflow: hidden;
	position:absolute;
	bottom:0;
	width:100%;
	height:165px;   
	color: #aaa;  
}
footer #map {
	display: block;
	list-style-type: none;
	width:240px;
	height:25px;
	text-align:center;
	margin:auto;
}
footer ul {
	display: block;
	list-style-type: none;
	margin-left:-35px;
}
footer ul li{
	float:left;
	text-align:center;
	list-style-type: none;
}
footer ul li a{
	margin-left:-10px;
	text-decoration:none;
	color:#fff;
}

footer #footDivTwo,footer #footDivOne{
	float:left;
	line-height:150%;
	font-weight:400;
	height:100%;
	text-align:center;
}
footer #footDivOne{
	width: 100%;	
}
footer #footDivTwo{
	width: 40%;
}
footer #footDivTwo #copy{
	padding: 25px 50px;
	font-size:125%;
	text-align:justify;
	line-height:1.5;
}
footer h1 {
	font-size: 250%
}
.foot{
	position:relative; 
}
/***************************************************************************************************
														MEDIA QUERY
****************************************************************************************************/
@media only screen and (max-width: 1185px) {
	#holder{
		display:none;
	}
	#wrapper{
		width:580px;
			
	}
}

@media only screen and (max-height: 620px) {
	footer {
		height:100px;
		background: rgba(50, 50, 50,.0); 
		color:#eee;
		text-shadow:1px 1px 3px #000;
	}
	footer h1 {
		font-size: 100%;
		height: 5px;
	}

}
@media only screen and (max-height: 560px) {
	footer {
		display:none;
	}
}

@media only screen and (max-width: 1050px) {
	
}

@media only screen and (max-width:782px) {


}

@media only screen and (max-width: 680px) {
	#holder, footer{
		display:none;
	}

}

@media only screen and (max-width: 480px) {
	


}



/*
						/////////  ////   //  /////////
						//         ////   //  //       //
						//////     // //  //  //        //
						//         //  // //  //        //
						//         //   ////  //       //
						////////   //    ///  /////////
*/
